<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<link href="./resources/css/index.css" rel="stylesheet" type="text/css" />
</h:head>
<body>
	<div class="registrarDiv" style="width: 400px">
		<h:form>
			<p:messages autoUpdate = "true"/>
			<p:growl id="growl" showDetail="true" sticky="true" /> 
			
			<p:panel>
				<f:facet name="header">Registro de Animales</f:facet>
				<p:panelGrid id="pg" columns="2" layout="tabular" styleClass="ui-panelgrid-blank">
							
				</p:panelGrid>
				<p:commandButton value="Registrar" action="#{registrarBean.registrar()}" update="@form" />
			</p:panel>
		</h:form>
	</div>
</body>
</html>
